<h1><%= @cocktail.name %></h1>

<div>
  <% @cocktail.doses.each do |dose| %>
    Name: <%= dose.cocktail.name %>,
    Description: <%= dose.description %>
  <% end %>
</div>

<%= link_to 'Add a dose', new_cocktail_dose_path(@cocktail)  %>
<%= link_to 'Back to List', cocktails_path  %>
