<div class="container">
  <div class="card-trip">
    <% if @cocktail.photo.file %>
      <%= cl_image_tag @cocktail.photo, crop: :fill %>
    <% else %>
      <img src="https://images.unsplash.com/photo-1470337458703-46ad1756a187?ixlib=rb-1.2.1&auto=format&fit=crop&w=1949&q=80" />
    <% end %>
    <div class="card-trip-infos">
      <div>
        <h2><%= @cocktail.name %></h2>
        <% @cocktail.doses.each do |dose| %>
          <p><%= dose.ingredient.name %> (<%= dose.description %>)
            <%= link_to dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </p>
        <% end %>
      </div>
    </div>
  <%= link_to 'Add a dose', new_cocktail_dose_path(@cocktail), class:'ml-3' %>
</div>
